<h2>Adicionar assunto de <strong>{{name}}</strong></h2>
<form action="{{urlPost}}" method="POST">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="subjectTitle">Título do assunto: </label>
                <input type="text" class="form-control" id="subjectTitle" placeholder="Título do assunto">
                <label for="subjectDescription">Descrição do assunto: </label>
                <textarea class="form-control" id="subjectDescription" rows="3" placeholder="Descrição do assunto"></textarea>
                <button class="btn btn-success">Enviar formulário</button>
            </div>
        </div>
    </div>
</form>