<div class="{{navbarClass}}">
        <a href="#">
                <div class="logo">

                </div>
        </a>
        <div class="mid-content">
                <ul>
                        <a href="#">
                                <li>Item 1</li>
                        </a>
                        <a href="#">
                                <li>Item 2</li>
                        </a>
                        <a href="#">
                                <li>Item 3</li>
                        </a>
                </ul>
        </div>
        <div class="right-content">
                <a href="#"><button id="btn-login">Login</button></a>
                <a href="#"><button id="btn-register">Registrar-se</button></a>
        </div>
</div>