<div class="{{navbarClass}}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">PM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                        <a class="nav-link" href="/user/knowledge-areas">Área do conhecimento<span class="sr-only">(current)</span></a>
                                        {{!-- <li class="nav-item dropdown mx-n2">
                                        <a class="nav-link dropdown-toggle" href="/user/knowledge-areas" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="/manager/forms/humans/geography">Teste formulario</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/user/knowledge-areas/languages">Linguagens</a>
                                                <a class="dropdown-item" href="/user/knowledge-areas/math">Matemática</a>
                                                <a class="dropdown-item" href="/user/knowledge-areas/humans">Ciências Humanas</a>    
                                                <a class="dropdown-item" href="/user/knowledge-areas/nature">Ciências da Natureza</a>
                                        </div> --}}
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/manager/forms-main">Formulários adicionar<span class="sr-only">(current)</span></a>
                                </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                                <button class="btn btn-success my-2 mx-2 my-sm-0" type="submit">Entrar</button>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registrar-se</button>
                        </form>
                </div>
        </nav>
</div>