<div class="hero">
    <div class="left">
        <h2>Título</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, repudiandae repellat doloribus magni sunt officiis cupiditate nesciunt et laboriosam deserunt voluptatem enim atque, veniam asperiores exercitationem fuga amet? Perferendis, doloremque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus minima totam sint non voluptatibus nesciunt quidem ullam omnis aliquid neque rem necessitatibus, ipsam delectus tempora. Commodi ullam earum consequatur qui! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis laborum pariatur iure id dicta, praesentium labore sequi autem molestias. Id libero necessitatibus soluta explicabo molestias! Omnis fugiat veniam facere laboriosam.</p>
    </div>
    <div class="right">
    </div>
</div>