<div class="jumbotron">
  <h1 class="display-4">Olá!</h1>
  <p class="lead">Seja bem vindo ao PM Project.</p>
  <hr class="my-4">
  <p>Aqui temos diversos conteúdos de estudos, focados em: vestibulares, ENEM e muito mais!</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Inscreva-se agora</a>
  </p>
</div>