.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--espacamento-interno);
    background-color: var(--cor-secundaria);
    padding: calc(var(--espacamento-interno) + 10px);
}

.hero .right {
    background-color: var(--cor-terceira);
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-texto);
}