@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    gap: 0;
}

:root {
    /* Cores */
    --cor-primaria: #ececec;
    --cor-secundaria: #c7c6c6;
    --cor-terceira: #57575791;
    --cor-bordas: #57575791;
    --cor-hovers-button: #838282;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
}
