<h2>Formulário</h2>
<form>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="subjectTitle">Título do assunto: </label>
                <input type="text" class="form-control" id="subjectTitle" placeholder="Título do assunto">
                <label for="subjectDescription">Descrição do assunto: </label>
                <textarea class="form-control" id="subjectDescription" rows="3" placeholder="Descrição do assunto"></textarea>
            </div>
        </div>
    </div>
</form>