<div class="areas-knowledge">
    <h2>ÁREAS DO CONHECIMENTO</h2>
    
    <ul>
        {{#each knowledgeAreas}}
            <a href="{{url}}">
                <li>{{name}}</li>
            </a>
        {{/each}}
    </ul>
</div>
