<div class="areas-knowledge">
    <ul>
        <a href="/user/knowledge-areas/math">
            <li>Matemática e suas tecnologias</li>
        </a>
        <a href="/user/knowledge-areas/humans">
            <li>Ciências humanas e sociais aplicadas</li>
        </a>
        <a href="/user/knowledge-areas/nature">
            <li>Ciências da natureza e suas tecnologias</li>
        </a>
        <a href="/user/knowledge-areas/languages">
            <li>Linguagens e suas tecnologias</li>
        </a>
        <a href="/user/knowledge-areas/essay">
            <li>Redação</li>
        </a>
    </ul>
</div>