<div class="areas-knowledge">
    <h2>ÁREAS DO CONHECIMENTO</h2>
    
    <ul>
        {{#each areas}}
            {{#if this}}
            <a href="{{url}}">
                <li>{{name}}</li>
            </a>
            {{else}}
                <h3>Nenhuma área do conhecimento registrada!</h3>
            {{/if}}
        {{/each}}
    </ul>
</div>
