<div class="areas-knowledge">
    <h2>CIÊNCIAS HUMANAS E SOCIAIS APLICADAS</h2>

    <ul>
        {{#each knowledgeHumans}}
            <a href="{{url}}">
                <li>{{name}}</li>
            </a>
        {{/each}}
    </ul>
</div>
