<div class="areas-knowledge">
    <h2>LINGUAGENS E SUAS TECNOLOGIAS</h2>

    <ul>
        {{#each areas}}
            <a href="{{url}}">
                <li>{{name}}</li>
            </a>
        {{/each}}
    </ul>
</div>
