<div class="areas-knowledge">
    <h2>CIÊNCIAS DA NATUREZA E SUAS TECNOLOGIAS</h2>
    
    <ul>
        {{#each knowledgeNature}}
            <a href="{{url}}">
                <li>{{name}}</li>
            </a>
        {{/each}}
    </ul>
</div>