p {
    font-size: 20px;
}

.areas-knowledge a {
    color: #000000a9;
    text-decoration: none;
}

.areas-knowledge a:hover {
    color: #000000d0;
}

.areas-knowledge .card:hover {
    background-color: #0000000a;
}
